//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

// Posts and pages
.entry-header {
	text-align: center;
}


.entry-title {
	margin-bottom: rem(12);
	margin-top: 0;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 rem(24) 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.entry-footer {
	margin-top: rem(30);
}

.page-links {
	clear: both;
	margin: 0 0 rem(24) 0;
}

.edit-link {
	margin: 0;
}

.cat-links {
	margin-right: rem(24);
}

// Asides

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
