//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.footer {

	// Widget area in footer.
	&.widget-area {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include media($tablet-landscape) {
			flex-direction: row;
		}

		// Any components within footer (into thirds).
		> div,
		> aside {
			width: 100%;

			@include media($tablet-landscape) {
				width: calc((100% / 3 - (2*15px));
			}
		} // > div, > aside

		// Titles of footer widgets.
		.widget-title {
			margin-top: 0;
		} // .widget-title
	} // &.widget-area
} // .footer


//--------------------------------------------------------------
// Copyright + Social Networks
//--------------------------------------------------------------
.site-footer {

	.site-info,
	.social-networks {
	} // 	.site-info, .social-networks
} // .site-footer
