//--------------------------------------------------------------
// Mini-Mindfuls
//--------------------------------------------------------------

// Archive.
.post-type-archive-mindfuls {

	.grid-mindful {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;

		@include media($phone-landscape) {
			flex-direction: row;
		}

	}

	article {
		width: 100%;

		@include media($phone-landscape) {
			width: calc((100% / 2) - 12px);
		}

		@include media($tablet-landscape) {
			width: calc((100% / 4) - 12px);
		}

		h2 {
			margin: 0;
		}

		.featured-image {
			display: inline-block;
			font-size: 0;
		}
	}
}

// Single Mindful.
.single-mindfuls {
	.site-main {
		text-align: center;
	}

	.mindfuls {
		margin: 0 auto;
		max-width: 800px;
	}
}
