//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links
a {
	color: $color-link;
	text-decoration: none;

	&:visited {
		color: $color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
		transition: color 0.2s ease;
	}
}

.entry-content,
.error-404 {

	a:not(.button) {
		box-shadow: inset 0 -0.1em 0 0 $color-silver;
		color: $color-mineshaft;
		transition-duration: 0.2s, 0.4s;
		transition-property: box-shadow, color;
		transition-timing-function: cubic-bezier(0, 0, 0.58, 1);

		&:hover,
		&:focus,
		&:active {
			box-shadow: inset 0 -0.25em 0 0 $color-aqua;
			color: $color-black;
		}
	}
}

.button {
	background-color: $color-teal;
	border: rem(2) solid $color-teal;
	border-radius: rem(3.5);
	color: $color-white;
	display: inline-block;
	font-family: $font-sans;
	font-weight: 300;
	letter-spacing: rem(2);
	margin: rem(10) 0;
	padding: rem(10) rem(16);
	text-align: center;
	transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;

	&:hover,
	&:active,
	&:focus {
		background-color: darken($color-teal, 11%);
		border: rem(2) solid darken($color-teal, 11%);
		color: $color-white;
	} // &:hover, &:active, &:focus

	&:visited {
		color: $color-white;
	} // &:visited
} // .button

// Read more link.
.more-link {
	border: rem(2) solid $color-link;
	border-radius: rem(10);
	display: block;
	margin: rem(15) 0;
	max-width: rem(130);
	padding: rem(4);
	text-align: center;
} // .more-link

// Default menu (active after a fresh WordPress install)
.menu {
	@include list-reset;

	text-align: right;

	.navigation-wrapper & {
		background-color: $color-white;
		text-align: left;

		@include media($tablet-landscape) {
			text-align: right;
		}
	}

	li {
		letter-spacing: 1px;
		margin: 0 rem(10) 0 0;
		padding: rem(12) rem(15);
		text-transform: uppercase;

		@include media($tablet-landscape) {
			font-size: rem(15);
			letter-spacing: 0.5px;
		}

		@include media($desktop) {
			font-size: rem(16);
			letter-spacing: 1px;
		}

		&:first-of-type {
			@include media($tablet-landscape) {
				margin-left: 0;
				padding-left: 0;
			}
		}

		&:last-of-type {
			@include media($tablet-landscape) {
				margin-right: 0;
				padding-right: 0;
			}
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	&.menu-horizontal {

		li {
			display: inline-block;
		}
	}

	&.menu-vertical {

		li {
			margin: 0;
		}

		a {
			border-bottom: 1px solid $color-background-hr;
			padding: rem(10);
		}
	}

	&.dropdown {

		// Sub-menu
		ul {
			box-shadow: 0 3px 3px rgba($color-black, 0.2);
			float: left;
			left: -999em;
			position: absolute;
			top: em(24px);
			z-index: 99999;

			// Sub-sub menu
			ul {
				left: -999em;
				top: 0;
			}

			// Sub-menu items
			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			// Sub-menu links
			a {
				@include size(rem(200) auto);
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		// Display sub-menu on hover.
		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

		// Menu items.
		li {
			display: inline-block;
			position: relative;

			&:hover > a,
			&.focus > a {
			}
		}
	}

	// Menu hyperlinks.
	a {
		color: $color-mineshaft;
		display: block;
		padding: rem(2) rem(3) 0;
		text-decoration: none;
		transition: background-color 0.2s ease-in-out;

		&:hover,
		&:focus {
			background-color: lighten($color-silver, 12%);
		}
	}

	// Current items.
	.current_page_item a,
	.current-menu-item a {
		border-bottom: 2px solid $color-aqua;

		&:hover,
		&:focus {
			background-color: lighten($color-aqua, 40%);
		}
	}
}

// Main navigation (after creating a menu in the dashboard)
.main-nav {
	@include size(100% auto);

	clear: both;
	z-index: 99;

	@include media($tablet-landscape) {
		@include position(fixed, 0 0 null 0);

		background-color: $color-white;
		display: block;
		padding: 0 $gutter;
		width: 100%;
	}

	// When logged in.
	.admin-bar & {
		top: 32px;
	}

	// Contain nav items.
	.menu-primary-menu-container {
		@include outer-container;
	}
}

// Class added when you scroll.
.main-nav-scrolled {
	@include position(fixed, 0 null null null);
	@include fill-parent;

	width: 100%;
} // .main-nav-scrolled

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 rem(24) 0;
		overflow: hidden;
	}

	& .nav-previous {
		@include size(50% auto);

		float: left;
	}

	& .nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	}
}
