//--------------------------------------------------------------
// Blog Template
//--------------------------------------------------------------
.page-blog {

	p > a {
		text-decoration: underline;
	}

	// Site content.
	.site-main {
		position: relative;
	} // .site-main

	article {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@include media($tablet-portrait) {
			flex-direction: row;
		}

		&:not(:last-of-type) {
			margin-bottom: 32px;
		}

		.entry-header {
			width: 50%;

			@include media($tablet-portrait) {
				width: 30%;
			}

			img {
				display: block;
			}
		}

		.entry-content {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			margin-top: 15px;
			width: 60%;

			@include media($tablet-portrait) {
				margin-top: 0;
			}
		}
	}

	// Overwrites default for primary section on other pages.
	.primary {
		height: 100%;
		margin: 0 auto;
		width: 65%;

		@include media($tablet-portrait) {
			padding-top: rem(40);
		}

		&:last-child {
			margin-right: auto;
		} // &:last-child
	} // .primary

	// Blog sidebar.
	.sidebar-wrapper {
		// float: left;
		// padding-left: 10%;
		// width: 30%;
	} // .secondary

	// Title of posts.
	.entry-title {
		margin: 0;
	} // .entry-title

	.thumbnail-filler {
		background: linear-gradient(to top, #80f9e2, #7d90f9 70%);
		height: 189px;
	}
} // .blog


//--------------------------------------------------------------
// Blog sidebar content
//--------------------------------------------------------------
.page-blog {

	.sidebar-wrapper {
		background-color: $color-gallery;
		float: left;
		margin-left: 5%;
		padding: $gutter*2;
		width: 30%;

		aside {
			max-width: rem(375);

			@include media($desktop) {
				margin: 0 auto;
				max-width: 90%;
			}
		}
	}
}
