//--------------------------------------------------------------
// Blog Template
//--------------------------------------------------------------
.blog {

	// Site content.
	.site-main {
		position: relative;
	} // .site-main

	// Overwrites default for primary section on other pagse.
	.primary {
		float: none;
		height: 100%;
		margin: 0 auto;
		max-width: rem(900);
		transition: all 0.25s linear;
		width: 100%;

		&:last-child {
			margin-right: auto;
		} // &:last-child
	} // .primary

	// Blog sidebar.
	.secondary {
		width: 100%;
	} // .secondary

	// Title of posts.
	.entry-title {
		margin: 0;
	} // .entry-title

	// Content of entry to match image.
	.entry-content {
		max-width: rem(830);
	} // .entry-content

	// Category links
	.cat-links {
		margin-right: rem(4);
	} // .cat-links
} // .blog


//--------------------------------------------------------------
// Sliding effect of blog sidebar
//--------------------------------------------------------------
.blog {

	// Trigger for sidebar sliding out.
	.sliding-panel-button {
		@include position(absolute, rem(-10) 0 null null);

		font-size: rem(25);
	} // .sliding-panel-button

	// Wrapper around sidebar as a whole.
	.sidebar-wrapper {
		padding: rem(80) 0;
		position: relative;

		// Close button once it slides out.
		.sliding-panel-close {
			@include position(absolute, 0 0 null null);
		}

		// Content of wrapper.
		&.sliding-panel-content {
			@include position(fixed, 0 0 0 auto);
			@include size(85% 100%);

			-webkit-overflow-scrolling: touch;
			overflow-y: auto;
			transform: translateX(100%);
			-webkit-transform: translateX(100%); // fixes on Safari 8
			transition: all 0.25s linear;
			z-index: 999999;

			// Change that width as screens get bigger.
			@include media($tablet-portrait) {
				@include size(50% 100%);
			}

			@include media($tablet-landscape) {
				@include size(30% 100%);
			}

			// Make it appear!
			&.is-visible {
				transform: translateX(0);
				-webkit-transform: translateX(0); // fixes on Safari 8
			} // &.is-visible
		} // .sliding-panel-content
	} // .sidebar-wrapper

	// Move primary content over as well when sidebar slides out.
	.primary {

		&.is-visible {
			-webkit-transform: translate3d(-30%,0,0);
			transform: translate3d(-30%,0,0);
		} // &.is-visible
	} // .primary
} // .blog
