.page-shop {
	.entry-title {
		text-align: center;
	}
}

.child-article-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 auto;
	max-width: 950px;
}

.child-page {
	width: 50%;

	@include media($tablet-portrait, null) {
		width: 50%;	
	}

	@include media($tablet-landscape, null) {
		width: 45%;
	}

	&:first-of-type {
		margin-right: 15px;
	}

	&:nth-of-type(4n+4) {
		margin-right: 0;
	}

	img {
		max-width: 300px;
	}

	a {
		display: block;
		transition: 0.2s all linear; 

		&:hover {
			background-color: #ebebeb;
		}
	}

	h2,
	h3 {
		margin-top: 0;
	}

	h2 {
		font-size: 22px;
		margin-bottom: 0;
	}

	h3 {
		font-size: 20px;
	}
}
