//--------------------------------------------------------------
// Single (Page + Gift)
//--------------------------------------------------------------

// Module containing download link.
.single-gift {
	display: block;
	text-align: center;
}

// Download link.
.gift-download {
	margin: 0;
}
